<h1> Recent Blogs</h1>

{{#each blogTitlesOnly as |blog|}}
<article class="row">
    <section class="u-full-width card">
        <h3 class="blog__title">{{blog}}</h3>
    </section>
</article>
{{/each}}